/.vs
.DS_Store
.Thumbs.db
*.sublime*
.idea/
debug.log
package-lock.json
.vscode/settings.json
yarn.lock

/.tauri
/target
Cargo.lock
node_modules/

.android-user-home/
.android-user-home-ci-test/
.android-user-home-local/
.gradle-user-home/
.gradle-user-home-ci-test/
.gradle-user-home-local/
.kotlin-daemon*/

dist-js
dist

project.xcworkspace/
xcuserdata/
xcshareddata/
DerivedData/
